*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
body{
    background: linear-gradient(to right, rgb(78, 2, 255), rgb(0, 119, 255));
    text-align: center;
}
h1{
    padding: 8%;
}

h2{
    padding: 8%;
}
h3{
    padding: 8%;
}
